
SuperoTasks-WebAPICore/SuperoTasks\.WebAPICore\.Data/bin/

SuperoTasks-WebAPICore/SuperoTasks\.WebAPICore\.Microservices/obj/

SuperoTasks-WebAPICore/SuperoTasks\.WebAPICore\.Services/bin/

SuperoTasks-WebAPICore/SuperoTasks\.WebAPICore\.Services/obj/

SuperoTasks-WebAPICore/\.vs/

SuperoTasks-WebAPICore/SuperoTasks\.WebAPICore\.Data/obj/

SuperoTasks-WebAPICore/SuperoTasks\.WebAPICore\.Domain/bin/

SuperoTasks-WebAPICore/SuperoTasks\.WebAPICore\.Domain/obj/
