<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar  class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <img src="../../../../assets/logo-supero.png" width="150px;" height="50px;">
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav class="menu-nav" [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <nav>
        <button class="nav-item" mat-button [routerLink]="['home']">HOME</button>
        <button class="nav-item" mat-button [routerLink]="['tasks']">TASKS</button>        
      </nav>
    </mat-sidenav>
    <mat-sidenav-content class="mat-sidenav-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>